body {
    background-image: url(../imagens/bg-repeat.jpg);
    background-size: contain;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.texto {
    color: rgba(255, 255, 255, 1);
    width: 40%;
    height: 40%;
}

.texto h1 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

.texto h2 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.texto p {
    font-size: 22px;
    font-weight: 400;
}

.formulario {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
}

.formulario div .campos {
    width: 100%;
    height: 42px;
    font-weight: 600;
    font-size: 18px;
    color: rgba(168, 168, 168, 1);
    border-radius: 5px;
    border: 1px solid #000000;
}

.formulario input#nome,
.formulario input#email,
.formulario input#celular,
.formulario textarea#mensagem {
    padding: 15px;
    resize: none;
}

.formulario textarea#mensagem {
    height: 100%;
}

.formulario .texto-escondido {
    opacity: 0;
}

.formulario .campos-obrigatorios {
    padding: 8px;
    font-weight: 400;
    font-size: 14px;
}

.formulario .botao {
    padding: 15px;
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(60, 204, 135, 1);
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.formulario .botao:hover {
    background-color: #2F4F2F;
}

/* ESTILOS PARA VALIDAR AS INFORMAÇÕES */

.formulario .texto-vermelho {
    opacity: 1;
    color: rgba(245, 46, 46, 1);
    font-size: 10px;
    display: block;
    padding: 8px 0px 12px; 
}

.formulario .campos.invalidado {
    border: 1px solid rgba(245, 46, 46, 1);
}

.formulario .campos.validado {
    border: 1px solid rgba(0, 194, 43, 1);
}